<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Connection"
			 connectionString="Server=PC-VICTOR\SQLEXPRESS;Database=FashionTrack;Integrated Security=True;TrustServerCertificate=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
